.accordion {
  --text-color: hsl(0, 0%, 20%);
  --bg-color: hsl(0, 0%, 100%);

  --hs-base: 300, 100%;
  --primary: hsl(var(--hs-base), 15%);

  --summary-bg-color: hsl(var(--hs-base), 98%);
  --summary-hover-bg-color: hsl(var(--hs-base), 90%);

  --border: 3px solid hsl(var(--hs-base), 80%);
  --border-radius: 0.66rem;

  --padding-x: clamp(1rem, 5%, 2.5rem);

  --transition-duration: 300ms;
  --transition-timing-function: ease-in;
}

.accordion details {
  overflow: hidden;
  border: var(--border);
  border-top: none;
}

.accordion details:first-child {
  border: var(--border);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.accordion details:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* Inside details */
.accordion summary {
  display: grid;
  grid-template-columns: 1fr 1em;
  align-items: center;
  gap: 2rem;

  font-size: calc(1rem + 2px);
  font-weight: bold;

  cursor: pointer;

  background-color: var(--summary-bg-color);
  padding: 1.25rem var(--padding-x);

  transition-property: color, background-color;
}

.accordion details[open] > summary {
  z-index: 11;
  font-style: italic;
}

.accordion summary:focus,
.accordion summary:hover {
  outline: none;
  color: var(--primary);
  background-color: var(--summary-hover-bg-color);
}

.accordion details .content {
  position: relative;
  z-index: -1;

  background-color: var(--bg-color);
  color: var(--text-color);

  padding: 1px var(--padding-x);
}

.accordion svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  opacity: 0.8;
}
/* Inside details */

.accordion details[open] .plus {
  transform: rotate(45deg);
  transition-property: transform;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(max(-2rem, -100%));
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .accordion details * {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .accordion details[open] .content {
    animation: appear var(--transition-duration)
      var(--transition-timing-function);
  }
}
